
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white; 
  font-family: 'Merriweather', serif;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none; 
  text-align: left; 
}