
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white; 
  font-family: 'Merriweather', serif;
  width: 100%;
  min-height: 100vh;
}


/* Giúp Footer luôn nằm đáy */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  
}


.main-content {
  flex: 1; /* Đẩy footer xuống đáy */
  
  width: 100%;      /* Chiếm hết chiều ngang như nav & footer */
  max-width: none;  /* Không giới hạn chiều rộng */
  
  /* 2. Căn giữa khối nội dung */
  margin: 0;   /* Tràn full width */
  
  /* 3. Padding an toàn cho mobile */
  padding: 100px 40px 20px;  /* chừa khoảng trống cho navbar fixed & canh lề giống nav */
  
  display: flex;     
  flex-direction: column; 
}